<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="index/fragments :: meta" th:remove="tag"/>
    <title>BQuizGame</title>
    <th:block th:replace="index/fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="index/fragments :: navigator" th:remove="tag"/>

<div class="pricing-header px-3 py-3 pb-md-4 pt-md-5 mx-auto text-center">
    <h1 class="display-4">Cześć <span class="main-color"><i class="fas fa-user-astronaut"></i></span></h1>
    <div class="container text-justify"><p class="lead">Możesz zagrać tutaj w quiz. Quiz to rodzaj zabawy, rozrywki
        intelektualnej dla kilku osób, polegającej na przedstawieniu przez jedną z osób pozostałym zagadnienia w formie
        zapytania w ten sposób, by na podstawie dostarczonych wraz z zapytaniem informacji oraz wiedzy ogólnej można
        było wydedukować prawidłową odpowiedź.<br/>
        <a class="underlined underlined--thick text-dark float-right" href="https://pl.wikipedia.org/wiki/Quiz">Wikipedia</a>
    </div>
</div>

<div class="container text-center">
    <h1 class="display-4 mt-4 mb-3 border-top pt-4">Zagraj teraz!</h1>
    <a class="btn btn-outline-warning btn-lg mt-3 mb-4 col-sm-3" sec:authorize="isAuthenticated()"
       th:href="@{/quizSetup/authQuiz}"><i class="fas fa-play"></i> Start</a>
    <a class="btn btn-outline-warning btn-lg mt-3 mb-4 col-sm-3" sec:authorize="!isAuthenticated()"
       th:href="@{/quizSetup/numberofplayers}"><i class="fas fa-play"></i> Start</a>
</div>

<div class="container">
    <h3 class="text-center display-4 mt-4 mb-3 border-top pt-4">Statystyki</h3>
    <div class="card-deck mb-3 text-center">

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Ten tydzień</h4>
            </div>
            <div class="card-body text-left">
                <ul class="mt-3 mb-4">
                    <li>rozegranych quizów
                        <span class="main-color" th:text="${gamesPlayedLastWeek}"></span>
                    </li>
                    <li>% poprawnych odpowiedzi
                        <span class="main-color" th:text="${percentageOfCorrectAnswersLastWeek} + '%'"></span>
                    </li>
                    <li>najwyższy wynik
                        <span class="main-color" th:text="${bestScoreLastWeek}"></span>
                    </li>
                    <li>najlepszy użytkownik
<!--                        <span class="main-color" th:text="${bestUserLastWeek}"></span>-->
                    </li>
                </ul>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Ten miesiąc</h4>
            </div>
            <div class="card-body text-left">
                <ul class="mt-3 mb-4">
                    <li>rozegranych quizów
                        <span class="main-color" th:text="${gamesPlayedLastMonth}"></span>
                    </li>
                    <li>% poprawnych odpowiedzi
                        <span class="main-color" th:text="${percentageOfCorrectAnswersLastMonth} + '%'"></span>
                    </li>
                    <li>najwyższy wynik
                        <span class="main-color" th:text="${bestScoreLastMonth}"></span>
                    </li>
                    <li>najlepszy użytkownik
<!--                        <span class="main-color" th:text="${bestUserLastMonth}"></span>-->
                    </li>
                </ul>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Wszystkie</h4>
            </div>
            <div class="card-body text-left">
                <ul class="mt-3 mb-4">
                    <li>rozegranych quizów
                        <span class="main-color" th:text="${gamesPlayedAll}"></span>
                    </li>
                    <li>% poprawnych odpowiedzi
                        <span class="main-color" th:text="${percentageOfCorrectAnswersAll} + '%'"></span>
                    </li>
                    <li>najwyższy wynik
                        <span class="main-color" th:text="${bestScoreAll}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <th:block th:replace="index/fragments :: footer" th:remove="tag"/>
    <th:block th:replace="index/fragments :: scripts" th:remove="tag"/>
</div>

</body>
</html>
