<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/custom-switch.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
    <th:block th:replace="/index/fragments :: meta" th:remove="tag"/>
    <title>Edytor pytań</title>
    <th:block th:replace="/index/fragments :: link-styles" th:remove="tag"/>
    <link rel="stylesheet" th:href="@{/css/custom-switch.css}"/>
</head>
<body>
<th:block th:replace="/index/fragments :: navigator" th:remove="tag"/>

<div class="container">
    <div class="row col-md-12">
        <h1 class="display-4 mt-4 mb-3 border-top pt-4">Dodaj pytanie</h1>
    </div>

    <div class="card-deck mb-3">
        <div class="col-md-12">
            <div class="card mb-4 shadow-sm">
                <div class="card-body text-left">
                    <form th:action="@{/editor/add}" method="post" th:object="${newQuestion}">

                        <!--Question-->
                        <div class="col-md-3 pb-4">
                            <label for="category" class="small">Kategoria:</label>
                            <input class="form-control" type="text" id="category" th:field="*{category}"
                                   th:required="required">
                        </div>

                        <!--Difficulty-->
                        <label class="small pl-3">Stopień trudności:</label>
                        <div class="row">
                            <div class="custom-control custom-switch pl-1_75">
                                <input type="radio" class="custom-control-input" th:name="*{difficulty}"
                                       th:id="1" th:value="1" th:required="required">
                                <label class="custom-control-label btn btn-lg btn-outline-warning mb-4 text-dark"
                                       th:for="1">
                                    <span class="custom-switch-position" th:text="1"></span>
                                </label>
                            </div>

                            <div class="custom-control custom-switch pl-1_75">
                                <input type="radio" class="custom-control-input" th:name="*{difficulty}"
                                       th:id="2" th:value="2">
                                <label class="custom-control-label btn btn-lg btn-outline-warning mb-4 text-dark"
                                       th:for="2">
                                    <span class="custom-switch-position" th:text="2"></span>
                                </label>
                            </div>

                            <div class="custom-control custom-switch pl-1_75">
                                <input type="radio" class="custom-control-input" th:name="*{difficulty}"
                                       th:id="3" th:value="3">
                                <label class="custom-control-label btn btn-lg btn-outline-warning mb-4 text-dark"
                                       th:for="3">
                                    <span class="custom-switch-position" th:text="3"></span>
                                </label>
                            </div>

                            <div class="custom-control custom-switch pl-1_75">
                                <input type="radio" class="custom-control-input" th:name="*{difficulty}"
                                       th:id="4" th:value="4">
                                <label class="custom-control-label btn btn-lg btn-outline-warning mb-4 text-dark"
                                       th:for="4">
                                    <span class="custom-switch-position" th:text="4"></span>
                                </label>
                            </div>
                        </div>

                        <!--Question-->
                        <div class="col-md-12 pb-4">
                            <label for="content" class="small">Pytanie:</label>
                            <textarea th:rows="5" class="form-control" type="text" id="content" th:field="*{content}"
                                      th:required="required"></textarea>
                        </div>

                        <!--Answers-->
                        <div class="col-md-12 pb-4">
                            <label for="answer1" class="small">Odpowiedź 1 <span class="alert-success">(poprawna)</span>:</label>
                            <input class="form-control" type="text" id="answer1" th:field="${answersContent.answer1Content}"
                                   th:required="required">
                        </div>

                        <div class="col-md-12 pb-4">
                            <label for="answer2" class="small">Odpowiedź 2 <span
                                    class="alert-danger">(niepoprawna)</span>:</label>
                            <input class="form-control" type="text" id="answer2" th:field="${answersContent.answer2Content}"
                                   th:required="required">
                        </div>

                        <div class="col-md-12 pb-4">
                            <label for="answer3" class="small">Odpowiedź 3 <span
                                    class="alert-danger">(niepoprawna)</span>:</label>
                            <input class="form-control" type="text" id="answer3" th:field="${answersContent.answer3Content}">
                        </div>

                        <div class="col-md-12 pb-4">
                            <label for="answer4" class="small">Odpowiedź 4 <span
                                    class="alert-danger">(niepoprawna)</span>:</label>
                            <input class="form-control" type="text" id="answer4" th:field="${answersContent.answer4Content}">
                        </div>

                        <!--Reference-->
                        <div class="col-md-12 pb-4">
                            <label for="reference" class="small">Opis:</label>
                            <textarea th:rows="3" class="form-control" type="text" id="reference"
                                      th:field="*{reference}"></textarea>
                        </div>

                        <!--Button-->
                        <div class="col-md-12 pt-4 text-right">
                            <button type="submit" class="btn btn-outline-warning">Dodaj</button>
                        </div>
                    </form>

                    <!--Instructions-->
                    <hr class="mt-5 mb-5">
                    <div class="col-md-12 pb-4">
                        <label class="small">Instrukcja:</label>
                    </div>
                    <div class="col-md-12 pb-4">
                        <ul>
                            <li>sprawdź czy kategoria już istnieje lub dodaj nową. Jeżeli isnieje to wpisz ją zwracając
                                uwagę na wielkość
                                znaków. Poniżej bieżąca lista kategorii:
                            </li>
                            <ul th:each="category : ${categories}">
                                <li><span th:id="${category}" class="text-black-50" th:text="${category}"></span>
                                </li>
                            </ul>
                            <li> jeżeli chcesz dodać link - zrób to wg poniższego wzoru:</li>
                            <ul>
                                <li><code class="text-black-50">&lta class="underlined underlined--thick text-dark"
                                    target="_blank" href="LINK W TYM MIEJSCU"&gtźródło&lt/a&gt
                                </code>
                                </li>
                            </ul>
                            <li>każda nowa kategoria musi posiadać co najmniej jedno pytanie z każdego stopnia
                                trudności
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="/index/fragments :: footer" th:remove="tag"/>
    <th:block th:replace="/index/fragments :: scripts" th:remove="tag"/>
    <script type="text/javascript" th:src="@{/js/copy-to-clipboard.js}"></script>
</div>

</body>
</html>