<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/index/fragments :: meta" th:remove="tag"/>
    <title>Lista użytkowników</title>
    <th:block th:replace="/index/fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="/index/fragments :: navigator" th:remove="tag"/>

<div class="container">
    <div class="row col-md-12">
        <h1 class="display-4 mt-4 mb-3 border-top pt-4">Lista użytkowników</h1>
    </div>

    <div class="card-deck mb-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <div th:each="account : ${accounts}" class="row">
                    <div class="col-md-1 mt-2" th:text="${account.getId()}"></div>
                    <div class="col-md-2 mt-2" th:text="${account.getUsername()}"></div>
                    <div class="col-md-3 mt-2" th:text="${account.getEmail()}"></div>
                    <div class="col-md-3 mt-2" th:text="${account.getRolesString()}"></div>

                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <span class="mr-1 mb-2">
                                <a th:href="@{'/admin/editRoles/' + ${account.getId()}}">
                                    <button type="button" class="btn btn-outline-secondary">Edytuj role</button>
                                </a>
                            </span>

                            <span class="mr-1 mb-2">
                                <a th:href="@{'/admin/remove/' + ${account.getId()}}">
                                    <button th:disabled="${account.isAdmin()}" type="button"
                                            class="btn btn-outline-danger">Usuń</button>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="/index/fragments :: footer" th:remove="tag"/>
    <th:block th:replace="/index/fragments :: scripts" th:remove="tag"/>
</div>

</body>
</html>
