<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/index/fragments :: meta" th:remove="tag"/>
    <title>Edycja użytkowników</title>
    <th:block th:replace="/index/fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="/index/fragments :: navigator" th:remove="tag"/>

<div class="container">
    <div class="row col-md-12">
        <h1 class="display-4 mt-4 mb-3 border-top pt-4">Edycja użytkownika
            <span th:text="${account.getUsername()}"></span>
        </h1>
    </div>

    <div class="card-deck mb-3">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <form th:action="@{/admin/editRoles}" method="post" accept-charset="UTF-8">
                        <div th:each="role : ${roles}">
                            <input type="hidden" th:name="accountId" th:value="${account.getId()}">

                            <div class="custom-control custom-switch">
                                <input type="checkbox" th:checked="${account.getAccountRoles().contains(role)}"
                                       class="custom-control-input" th:name="${role.getName()}"
                                       th:id="${role.getName()}">

                                <label class="custom-control-label" th:for="${role.getName()}">
                                    <span th:text="${role.getName()}"></span>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-12 pt-4 text-right">
                            <button type="submit" class="btn btn-outline-warning">Zapisz</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="/index/fragments :: footer" th:remove="tag"/>
    <th:block th:replace="/index/fragments :: scripts" th:remove="tag"/>
</div>

</body>
</html>
