<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/index/fragments :: meta" th:remove="tag"/>
    <title>Rejestracja</title>
    <th:block th:replace="/index/fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="/index/fragments :: navigator" th:remove="tag"/>

<div class="container">
    <div class="row col-md-12">
        <h1 class="display-4 mt-4 mb-3 border-top pt-4">Formularz rejestracyjny</h1>
    </div>

    <div class="card-deck mb-3">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body text-left">
                    <form th:action="@{/account/register}" method="post" th:object="${newAccount}"
                          accept-charset="UTF-8">
                        <div th:if="${errorMessage != null}" class="col-md-12">
                            <div class="col-md-12 alert alert-danger" th:text="${errorMessage}"></div>
                        </div>

                        <div class="col-md-12 pb-4">
                            <label for="username" class="small">Login:</label>
                            <input class="form-control" type="text" id="username" th:field="*{username}">
                        </div>

                        <div class="col-md-12 pb-4">
                            <label for="username" class="small">email:</label>
                            <input class="form-control" type="email" id="email" th:field="*{email}">
                        </div>

                        <div class="col-md-12 pb-4">
                            <label for="password" class="small">Hasło:</label>
                            <input class="form-control" type="password" id="password" th:field="*{password}">
                        </div>

                        <div class="col-md-12 pb-4">
                            <label for="password" class="small">Powtórz hasło:</label>
                            <input class="form-control" type="password" id="password-confirm" th:name="passwordConfirm">
                        </div>

                        <div class="col-md-12 pt-4 text-right">
                            <button type="submit" class="btn btn-outline-warning">Zarejestruj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="/index/fragments :: footer" th:remove="tag"/>
    <th:block th:replace="/index/fragments :: scripts" th:remove="tag"/>
</div>

</body>
</html>
