<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
    <th:block th:replace="/index/fragments :: meta" th:remove="tag"/>
    <title>BQuizGame</title>
    <th:block th:replace="/index/fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="/index/fragments :: navigator" th:remove="tag"/>

<div class="container text-center">
    <h1 class="display-4 mt-4 mb-3 border-top pt-4">Tablica</h1>
</div>

<div class="container">
    <div class="card-deck mb-3">
        <div class="card mb-3 shadow-sm">
            <div class="row card-body text-center">

                <!--Table header-->
                <div class="col-sm-12 card-body mb-3 shadow-sm">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>Gracz
                                <span class="main-color"
                                      th:text="${userAnswer.getUserQuiz().getCurrentPlayer()}"></span>
                            </h4>
                        </div>
                        <div class="col-sm-4"
                             th:if="${userAnswer.getUserQuiz().getCurrentPlayer().equals(userAnswer.getUserQuiz().getPlayer1Name())}">
                            <h4>Wynik <span class="main-color"
                                            th:text="${userAnswer.getUserQuiz().getPlayer1Score()}"></span>
                            </h4>
                        </div>
                        <div class="col-sm-4"
                             th:if="${userAnswer.getUserQuiz().getCurrentPlayer().equals(userAnswer.getUserQuiz().getPlayer2Name())}">
                            <h4>Wynik <span class="main-color"
                                            th:text="${userAnswer.getUserQuiz().getPlayer2Score()}"></span>
                            </h4>
                        </div>
                        <div class="col-sm-4"
                             th:if="${userAnswer.getUserQuiz().getCurrentPlayer().equals(userAnswer.getUserQuiz().getPlayer3Name())}">
                            <h4>Wynik <span class="main-color"
                                            th:text="${userAnswer.getUserQuiz().getPlayer3Score()}"></span>
                            </h4>
                        </div>
                        <div class="col-sm-4"
                             th:if="${userAnswer.getUserQuiz().getCurrentPlayer().equals(userAnswer.getUserQuiz().getPlayer4Name())}">
                            <h4>Wynik <span class="main-color"
                                            th:text="${userAnswer.getUserQuiz().getPlayer4Score()}"></span>
                            </h4>
                        </div>

                        <div class="col-sm-4">
                            <h4>Miejsce
                                <span class="main-color" th:text="${currentPlayerPlace}"></span>
                                <span class="text-black-50" th:text="'/ ' + ${userAnswer.getUserQuiz().getNumberOfPlayers()}"></span>
                            </h4>
                        </div>
                    </div>
                </div>

                <!--Question content-->
                <div class="col-sm-12 p-0 pb-5 pt-5">
                    <h3><span th:text="${userAnswer.getQuestion().getContent()}"></span></h3>
                </div>

                <!--Question answer options-->
                <div class="col-sm-6 p-0" th:each="userQuestionAnswer, index : ${orderedQuestionAnswers}">
                    <div th:classappend="${(userQuestionAnswer.getId() == selected_id && userQuestionAnswer.getId() == correct_id) ? 'btn-success btn-bg-success' :
                            (userQuestionAnswer.getId() == correct_id && userQuestionAnswer.getId() != selected_id ? 'btn-success btn-bg-success' :
                            (userQuestionAnswer.getId() != correct_id && userQuestionAnswer.getId() == selected_id ? 'btn-danger btn-bg-wrong' : 'btn-outline-warning hover-nothing'))}"
                         class="btn btn-lg mt-3 mb-4 col-sm-10 text-dark">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="btn btn-warning btn-sm float-left hover-nothing">odpowiedź
                                    <span th:text="${T(pl.karolskolasinski.bquizgame.component.CharacterUtility).intToCharLetter(index.index)}"></span>:
                                </div>
                            </div>

                            <div class="col-xl-8">
                                <span th:text="${userQuestionAnswer.getAnswerContent()}"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Question reference-->
                <div class="col-sm-12 p-5">
                        <h3><span th:text="${userAnswer.getQuestion().getReference()}"></span></h3>
                </div>

            </div>
        </div>

        <div class="col-sm-12">
            <a th:href="@{'/quiz/board/' + ${userAnswer.getUserQuiz().getId()}}"
               class="btn btn-outline-warning btn-lg mt-3 mb-4 text-dark float-right mr-5">
                Następne pytanie <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <th:block th:replace="/index/fragments :: footer" th:remove="tag"/>
    <th:block th:replace="/index/fragments :: scripts" th:remove="tag"/>
    <script type="text/javascript" th:src="@{/js/refresh-blocker.js}"></script>
</div>

</body>
</html>