<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/index/fragments :: meta" th:remove="tag"/>
    <title>BQuizGame</title>
    <th:block th:replace="/index/fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="/index/fragments :: navigator" th:remove="tag"/>

<div class="container text-center">
    <h1 class="display-4 mt-4 mb-3 border-top pt-4">Tablica</h1>
</div>

<div class="container">
    <div class="card-deck mb-3">
        <div class="card mb-3 shadow-sm">
            <div class="row card-body text-center">

                <!--Table header-->
                <div class="col-sm-12 card-body mb-3 shadow-sm">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>Gracz <span class="main-color" th:text="${newUserQuiz.getCurrentPlayer()}"></span></h4>
                        </div>

                        <div class="col-sm-4"
                             th:if="${newUserQuiz.getCurrentPlayer().equals(newUserQuiz.getPlayer1Name())}">
                            <h4>Wynik <span class="main-color" th:text="${newUserQuiz.getPlayer1Score()}"></span>
                            </h4>
                        </div>

                        <div class="col-sm-4"
                             th:if="${newUserQuiz.getCurrentPlayer().equals(newUserQuiz.getPlayer2Name())}">
                            <h4>Wynik <span class="main-color" th:text="${newUserQuiz.getPlayer2Score()}"></span>
                            </h4>
                        </div>

                        <div class="col-sm-4"
                             th:if="${newUserQuiz.getCurrentPlayer().equals(newUserQuiz.getPlayer3Name())}">
                            <h4>Wynik <span class="main-color" th:text="${newUserQuiz.getPlayer3Score()}"></span>
                            </h4>
                        </div>

                        <div class="col-sm-4"
                             th:if="${newUserQuiz.getCurrentPlayer().equals(newUserQuiz.getPlayer4Name())}">
                            <h4>Wynik <span class="main-color" th:text="${newUserQuiz.getPlayer4Score()}"></span>
                            </h4>
                        </div>

                        <div class="col-sm-4">
                            <h4>Miejsce
                                <span class="main-color" th:text="${currentPlayerPlace}"></span>
                                <span class="text-black-50" th:text="'/ ' + ${newUserQuiz.getNumberOfPlayers()}"></span>
                            </h4>
                        </div>
                    </div>
                </div>


                <!--Questions headers and Questions-->
                <div class="col-sm-3 p-0" th:each="category : ${categories}">
                    <div class="col-sm-12 p-0">
                        <button class="btn btn-dark btn-lg mt-3 mb-4 col-sm-10" disabled>
                            <span th:text="${category}"></span>
                        </button>
                    </div>

                    <div th:each="difficulty : ${#numbers.sequence(1, 4)}">
                        <div th:each="question : ${newUserQuiz.getQuiz().getQuestionSet()}"
                             th:if="${question.getCategory() == category && question.getDifficulty() == difficulty}">
                            <div class="col-sm-12 p-0">
                                <a th:href="@{'/quiz/pickQuestion/' + ${newUserQuiz.getId()} + '/' + ${question.getDifficulty()} + '/' + ${category}}"
                                   class="btn btn-warning btn-lg mt-3 mb-4 col-sm-10"
                                   th:classappend="${T(pl.karolskolasinski.bquizgame.component.WithdrawQuestionUtility).disableQuestion(withdrawnQuestions, question.getId())? 'btn-outline-dark disabled' : ''}">
                                    <span th:text="${question.getDifficulty()}"></span> pkt.
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Summary-->
            <div class="text-center" th:if="${withdrawnQuestions != null && withdrawnQuestions.size() == 16}">
                <a th:href="@{'/quiz/summary/' + ${newUserQuiz.getId()}}"
                   class="btn btn-warning btn-lg mt-3 mb-4 col-sm-5">Zakończ i zobacz podsumowanie</a>
            </div>

        </div>
    </div>

    <th:block th:replace="/index/fragments :: footer" th:remove="tag"/>
    <th:block th:replace="/index/fragments :: scripts" th:remove="tag"/>
    <script type="text/javascript" th:src="@{/js/refresh-blocker.js}"></script>
</div>

</body>
</html>