<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
    <th:block th:replace="/index/fragments :: meta" th:remove="tag"/>
    <title>BQuizGame</title>
    <th:block th:replace="/index/fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="/index/fragments :: navigator" th:remove="tag"/>

<div class="container text-center">
    <h1 class="display-4 mt-4 mb-3 border-top pt-4">Tablica</h1>
</div>

<div class="container">
    <div class="card-deck mb-3">
        <div class="card mb-3 shadow-sm">
            <div class="row card-body text-center">

                <div class="col-sm-12 card-body mb-3 shadow-sm">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>Gracz <span class="main-color" th:text="${newUserQuiz.getCurrentPlayer()}"></span></h4>
                        </div>
                        <div class="col-sm-4">
                            <h4>Wynik</h4>
                        </div>
                        <div class="col-sm-4">
                            <h4>Miejsce</h4>
                        </div>
                    </div>
                </div>

                <!--Question content-->
                <div class="col-sm-12 p-0 pb-5 pt-5">
                    <h3><span th:text="${currentQuestion.getContent()}"></span></h3>
                </div>

                <!--Question answer options-->
                <div class="row col-sm-12">
                    <div class="col-sm-6 p-0">
                        <a th:href="@{'/quiz/pickQuestion/1/' + ${newUserQuiz.getCategories().substring(newUserQuiz.getCategories().indexOf(',') + 1,
                             newUserQuiz.getCategories().indexOf(',', newUserQuiz.getCategories().indexOf(',') + 1))}}"
                           class="btn btn-outline-warning btn-lg mt-3 mb-4 col-sm-10 text-dark">
                            <div class="btn btn-warning btn-sm float-left hover-nothing">odpowiedź A:</div>
                            <span th:text="${questionAnswerOptions.get(0).getAnswerContent()}"></span>
                        </a>
                    </div>

                    <div class="col-sm-6 p-0">
                        <a th:href="@{'/quiz/pickQuestion/2/' + ${newUserQuiz.getCategories().substring(newUserQuiz.getCategories().indexOf(',') + 1,
                             newUserQuiz.getCategories().indexOf(',', newUserQuiz.getCategories().indexOf(',') + 1))}}"
                           class="btn btn-outline-warning btn-lg mt-3 mb-4 col-sm-10 text-dark">
                            <div class="btn btn-warning btn-sm float-left hover-nothing">odpowiedź B:</div>
                            <span th:text="${questionAnswerOptions.get(1).getAnswerContent()}"></span>
                        </a>
                    </div>
                </div>

                <div class="row col-sm-12">
                    <div class="col-sm-6 p-0">
                        <a th:href="@{'/quiz/pickQuestion/1/' + ${newUserQuiz.getCategories().substring(newUserQuiz.getCategories().indexOf(',') + 1,
                             newUserQuiz.getCategories().indexOf(',', newUserQuiz.getCategories().indexOf(',') + 1))}}"
                           class="btn btn-outline-warning btn-lg mt-3 mb-4 col-sm-10 text-dark">
                            <div class="btn btn-warning btn-sm float-left hover-nothing">odpowiedź C:</div>
                            <span th:text="${questionAnswerOptions.get(2).getAnswerContent()}"></span>
                        </a>
                    </div>

                    <div class="col-sm-6 p-0">
                        <a th:href="@{'/quiz/pickQuestion/2/' + ${newUserQuiz.getCategories().substring(newUserQuiz.getCategories().indexOf(',') + 1,
                             newUserQuiz.getCategories().indexOf(',', newUserQuiz.getCategories().indexOf(',') + 1))}}"
                           class="btn btn-outline-warning btn-lg mt-3 mb-4 col-sm-10 text-dark">
                            <div class="btn btn-warning btn-sm float-left hover-nothing">odpowiedź D:</div>
                            <span th:text="${questionAnswerOptions.get(3).getAnswerContent()}"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <th:block th:replace="/index/fragments :: footer" th:remove="tag"/>
    <th:block th:replace="/index/fragments :: scripts" th:remove="tag"/>
</div>

</body>
</html>