<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/index/fragments :: meta" th:remove="tag"/>
    <title>BQuizGame</title>
    <th:block th:replace="/index/fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="/index/fragments :: navigator" th:remove="tag"/>

<div class="container text-center">
    <h1 class="display-4 mt-4 mb-3 border-top pt-4">Wybierz liczbę graczy</h1>
</div>

<div class="container">
    <div class="card-deck mb-3">
        <div class="card mb-3 shadow-sm">
            <div class="row card-body text-center">
                <div class="col-sm-3 p-0">
                    <a th:href="@{/quizSetup/setUsernames/1}"
                       class="btn btn-outline-warning btn-lg mt-3 mb-4 col-sm-10 text-dark">
                        <i class="fas fa-user"></i> 1
                    </a>
                </div>

                <div class="col-sm-3 p-0">
                    <a th:href="@{/quizSetup/setUsernames/2}"
                       class="btn btn-outline-warning btn-lg mt-3 mb-4 col-sm-10 text-dark">
                        <i class="fas fa-user-friends"></i> 2
                    </a>
                </div>

                <div class="col-sm-3 p-0">
                    <a th:href="@{/quizSetup/setUsernames/3}"
                       class="btn btn-outline-warning btn-lg mt-3 mb-4 col-sm-10 text-dark">
                        <i class="fas fa-users"></i> 3
                    </a>
                </div>

                <div class="col-sm-3 p-0">
                    <a th:href="@{/quizSetup/setUsernames/4}"
                       class="btn btn-outline-warning btn-lg mt-3 mb-4 col-sm-10 text-dark">
                        <i class="fas fa-users"></i> 4
                    </a>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="/index/fragments :: footer" th:remove="tag"/>
    <th:block th:replace="/index/fragments :: scripts" th:remove="tag"/>
    <script type="text/javascript" th:src="@{/js/refresh-blocker.js}"></script>
</div>

</body>
</html>
